* 
{
  margin: 0; 
  padding: 0;
}

h1, h4, p
{
  padding-left: 5px;
  padding-top: 5px;
  color: #fafafa;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Arial';
}

canvas 
{
  display: block;
}

#chartElevation
{
  background-color: #fafafa;
}

#gpxAnalysis
{
    padding-bottom: 20px;
}

#gpx
{
  background-color: rgba(53, 53, 53, 255);
}

#gpxTrack 
{
  padding-left: 20px;
  padding-bottom: 20px;
}

#gpxParagraph
{
  font-size: small;
}

