@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* { font-family: 'Abel', sans-serif; }

h1, h4, p, a   
{ 
    color: #ffffff;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

canvas { display: inline; }

body
{
    margin: auto; 
    padding: 0;
}

/* #gpx
{
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient 
{
	0%   { background-position:   0% 50%; }
	50%  { background-position: 100% 50%; }
	100% { background-position:   0% 50%; }
} */



.title-name
{
    font-size: 60pt;
    display: inline;
}

.version
{
    font-size: 8pt;
    font-weight: 100;
    display: inline;
}

.tour-selector
{
    display: inline;
    margin-left: 1rem;
}

.widget-title
{
    margin-bottom: 1rem;
    vertical-align: middle;
}

.widget-description
{
    color: #505050;
}

.widget-description a
{
    color: #606060;
}

.widget-unit 
{
    color: #505050;
}

.widget-content-inline
{
    display: inline;
}

.grid-layout 
{
    display: grid;
    background-color: #252525;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 10px;
}

.grid-item 
{
    padding: 1rem;
    color: #ffffff;
    background-color: #303030;
    border-radius: 1px;
}

.grid-item:nth-child(odd) 
{
        background-color: #292929;
}

.row-1 { grid-row-end: span 1; }
.row-2 { grid-row-end: span 2; }
.row-3 { grid-row-end: span 3; }
.row-4 { grid-row-end: span 4; }
.row-full { grid-row: 1 / -1; }

.span-1 { grid-column-end: span 1; }
.span-2 { grid-column-end: span 2; }
.span-3 { grid-column-end: span 3; }
.span-full { grid-column: 1 / -1; }
