/* 
 * Modal 
 */
#modalOverlay 
{
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;

    color:black;
    background-color: #303030;
    background-image: linear-gradient(
          45deg,
          #333333 25%,
          transparent 25%,
          transparent 75%,
          #333333 75%,
          #333333
        ),
        linear-gradient(
          -45deg,
          #333333 25%,
          transparent 25%,
          transparent 75%,
          #333333 75%,
          #333333
        );
    background-size: 60px 60px;
    background-position: 0 0;
    animation: slide 4s infinite linear;
}

@keyframes slide 
{
    from { background-position: 0 0; }
    to { background-position: -120px 60px; }
}

#modal 
{
    font-size: 18px;  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 3rem;
    border: 3px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

#modalMessage 
{
    font-size:1.1rem;
    margin-bottom: 1.6rem;
    margin-top: 0;
    color: #202020;
}

#modalFileSelectLabel
{
    color:inherit;
    font-family:inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 3.4rem;
    border: 3px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

#modalFileSelect { display: none; }
#modalFileSelectLabel
{
    margin: 0 auto;
}

#modalFileSelectLabel:hover
{
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
}

#modalFileSelectLabel:active 
{
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

#modalOptions
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
